/* global */
body {
    background-color: darkgray;
    font-size: clamp(15px, 2vw, 30px);
}

h1,h2,h3,h4,h5,h6 {
    font-size: clamp(15px, 2vw, 30px);
}

form fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

form button, a {
    margin-top: 10px;
}


/* links */
.clear-link {
    text-decoration: none;
    color: black;
}

.clear-link:hover {
    color: blue;
}

/* material symbols */
/* class provided by google icons */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        font-size: clamp(35px, 3vw, 50px) !important; /* added by me */
}

/* containers */
.login-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* cards */
.basic-card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
