{% extends 'base.html' %}

{% block body %}

{% from 'macros.html' import render_form_field %}

<div class="login-container">
    <div class="basic-card bg-white bg-opacity-50">
        <form method="post">
            {{form.csrf_token}}
            <legend class="text-center mb-4">
                <img class="contain-img" src="{{ url_for('static', filename='logo.png') }}" alt="App logo" width="40%">
                <p>Reset Password</p>
            </legend>
            <fieldset class="fieldset-col">
                {{ render_form_field(form.new_password) }}
                {{ render_form_field(form.confirm_new_password) }}
            </fieldset>
            <div class="d-flex justify-content-between my-3">
                <button class="btn btn-primary" type="submit">Submit</button>
                <a href="{{ url_for('login.login_page') }}" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

