{% extends 'base.html' %}

{% block body %}
<div class="home-container">
    <div class="basic-card chart-card">
        <h5>Calories</h5>
        <div class="inner-card">
            <div class="canvas-container">
                <canvas id="calChart"></canvas>
            </div>
            <div>
                <span>Goal: 2000 cal</span> <br>
                <span>Left: 1000 cal</span>
            </div>
        </div>
    </div>

    <div class="basic-card chart-card">
        <h5>Protein</h5>
        <div class="inner-card">
            <div class="canvas-container">
                <canvas id="proteinChart"></canvas>
            </div>
            <div>
                <span>Goal: 100g</span> <br>
                <span>Left: 50g</span>
            </div>
        </div>
    </div>

    <div class="basic-card chart-card">
        <h5>Fat</h5>
        <div class="inner-card">
            <div class="canvas-container">
                <canvas id="fatChart"></canvas>
            </div>
            <div>
                <span>Goal: 100g</span> <br>
                <span>Left: 50g</span>
            </div>
        </div>
    </div>

    <div class="basic-card chart-card">
        <h5>Carbs</h5>
        <div class="inner-card">
            <div class="canvas-container">
                <canvas id="carbChart"></canvas>
            </div>
            <div>
                <span>Goal: 100g</span> <br>
                <span>Left: 50g</span>
            </div>
        </div>
    </div>

</div>



<script>
    const calChart = document.getElementById('calChart');
    const proteinChart = document.getElementById('proteinChart');
    const fatChart = document.getElementById('fatChart');
    const carbChart = document.getElementById('carbChart');

    // config datalabels plugin
    Chart.register(ChartDataLabels)
    Chart.defaults.set(
        'plugins.datalabels',
        {
            color: 'white',
            font: {size: '15%', weight: 'bold'},
            formatter: (value, ctx) => {
                let sum = 0;
                // get values from dataset
                let dataArr = ctx.chart.data.datasets[0].data;
                // sum all values
                dataArr.map(data => {sum += data});
                // return percentage of first value in dataset (current calories)
                if (ctx.dataIndex == 0){
                    return (value*100 / sum).toFixed(0) + "%";
                } else return null
                
            },
        },
    )


    new Chart(calChart, {
        type: 'doughnut',
        data: {
            labels: ['Calories', 'Remaining'],
            datasets: [{
                data: [100, 900],
                borderWidth: 0,
                backgroundColor: ['#2C75FF', 'rgba(255, 255, 255, .2)']
            }]
        },
        options: {plugins: {legend: {display: false}}}
    });

    new Chart(proteinChart, {
        type: 'doughnut',
        data: {
            labels: ['Protein', 'Remaining'],
            datasets: [{
                data: [60, 40],
                borderWidth: 0,
                backgroundColor: ['#FB607F', 'rgba(255, 255, 255, .2)']
            }]
        },
        options: {plugins: {legend: {display: false}}},
    });

    new Chart(fatChart, {
        type: 'doughnut',
        data: {
            labels: ['Fat', 'Remaining'],
            datasets: [{
                data: [60, 40],
                borderWidth: 0,
                backgroundColor: ['#F8DE7E', 'rgba(255, 255, 255, .2)']
            }]
        },
        options: {plugins: {legend: {display: false}}},
    });

    new Chart(carbChart, {
        type: 'doughnut',
        data: {
            labels: ['Carbs', 'Remaining'],
            datasets: [{
                data: [60, 40],
                borderWidth: 0,
                backgroundColor: ['#74C365', 'rgba(255, 255, 255, .2)']
            }]
        },
        options: {plugins: {legend: {display: false}}},
    });
</script>


{% endblock %}